 .ReactModalPortal > div {
 	opacity: 0;
 }

 .ReactModalPortal .ReactModal__overlay {
 		display: flex;
 		justify-content: center;
 		align-items: center;
 		transititon: opacity 200ms ease-in-out;
 }

 .ReactModalPortal .ReactModal__overlay--after-open {
 		opacity: 1;
 } 

 .ReactModalPortal .ReactModal__overlay--before-close {
 		opacity: 0;
 } 
 

.modal {
	background: $lite-blue;
	color: white;
	max-width: 30rem;
	outline: none;
	padding: $l-size;
	text-align: center;
}

.modal__title {
	margin: 0 0 $m-size 0;
} 

.modal__body {
	margin: 0 0 $l-size 0;
	font-size: 2rem;
	font-weight: 300;
	word-break: break-all;
}